html {
  background-color: #00539f;
}


h1{
	  font-size: 60px;
	padding: 5px;
	margin: 5px;
}

img{
	height: 40%;
	width: 60%;
	
}

.thumb-bar{
	width: 70%;
	padding: 5px;
	margin: 5px;
}

#thumbNail img{
	height: 100px;
	width: 150px;
	margin: 5px;
}